# Files and directories created by pub
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/
.dart_tool
.idea/
.test_coverage.dart
coverage
chopper/doc/