# Created with package:mono_repo v6.5.5
name: Dart CI
on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github
permissions: read-all

jobs:
  job_001:
    name: mono_repo self validate
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - name: mono_repo self validate
        run: dart pub global activate mono_repo 6.5.5
      - name: mono_repo self validate
        run: dart pub global run mono_repo generate --validate
  job_002:
    name: "analyze_and_format; PKG: chopper; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper;commands:format-analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - id: chopper_pub_upgrade
        name: chopper; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper
      - name: "chopper; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.chopper_pub_upgrade.conclusion == 'success'"
        working-directory: chopper
      - name: "chopper; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.chopper_pub_upgrade.conclusion == 'success'"
        working-directory: chopper
    needs:
      - job_001
  job_003:
    name: "analyzer_and_format; PKGS: chopper_built_value, chopper_generator; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper_built_value-chopper_generator;commands:format-analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper_built_value-chopper_generator
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - id: chopper_built_value_pub_upgrade
        name: chopper_built_value; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper_built_value
      - name: "chopper_built_value; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.chopper_built_value_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_built_value
      - name: "chopper_built_value; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.chopper_built_value_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_built_value
      - id: chopper_generator_pub_upgrade
        name: chopper_generator; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper_generator
      - name: "chopper_generator; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.chopper_generator_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_generator
      - name: "chopper_generator; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.chopper_generator_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_generator
    needs:
      - job_001
      - job_002
  job_004:
    name: "unit_test; PKGS: chopper, chopper_built_value; `dart test -p chrome`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper-chopper_built_value;commands:test_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper-chopper_built_value
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - id: chopper_pub_upgrade
        name: chopper; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper
      - name: "chopper; dart test -p chrome"
        run: dart test -p chrome
        if: "always() && steps.chopper_pub_upgrade.conclusion == 'success'"
        working-directory: chopper
      - id: chopper_built_value_pub_upgrade
        name: chopper_built_value; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper_built_value
      - name: "chopper_built_value; dart test -p chrome"
        run: dart test -p chrome
        if: "always() && steps.chopper_built_value_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_built_value
    needs:
      - job_001
      - job_002
      - job_003
  job_005:
    name: "unit_test; PKGS: chopper, chopper_built_value; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper-chopper_built_value;commands:test_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper-chopper_built_value
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - id: chopper_pub_upgrade
        name: chopper; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper
      - name: chopper; dart test
        run: dart test
        if: "always() && steps.chopper_pub_upgrade.conclusion == 'success'"
        working-directory: chopper
      - id: chopper_built_value_pub_upgrade
        name: chopper_built_value; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper_built_value
      - name: chopper_built_value; dart test
        run: dart test
        if: "always() && steps.chopper_built_value_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_built_value
    needs:
      - job_001
      - job_002
      - job_003
  job_006:
    name: Coverage
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        sdk: [ stable ]
        package: [ chopper, chopper_built_value, chopper_generator ]
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:${{ runner.os }};pub-cache-hosted;sdk:${{ matrix.sdk }};packages:${{ matrix.package }};commands:coverage"
          restore-keys: |
            os:${{ matrix.os }};pub-cache-hosted;sdk:${{ matrix.sdk }};packages:${{ matrix.package }}
            os:${{ matrix.os }};pub-cache-hosted;sdk:${{ matrix.sdk }}
            os:${{ matrix.os }};pub-cache-hosted
            os:${{ matrix.os }}
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - id: checkout
        uses: actions/checkout@v3
      - id: pub_upgrade
        name: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: ${{ matrix.package }}
        run: dart pub upgrade
      - id: install
        name: Install coverage packages
        if: "always() && steps.pub_upgrade.conclusion == 'success'"
        working-directory: ${{ matrix.package }}
        run: |
          dart pub global activate coverage
          dart pub global activate remove_from_coverage
      - id: coverage
        name: Collect and report coverage
        if: "always() && steps.install.conclusion == 'success'"
        working-directory: ${{ matrix.package }}
        run: |
          dart pub global run coverage:test_with_coverage
          dart pub global run remove_from_coverage:remove_from_coverage -f coverage/lcov.info -r '\.g\.dart$'
      - name: Upload coverage
        uses: codecov/codecov-action@v3
        if: "always() && steps.coverage.conclusion == 'success'"
        working-directory: ${{ matrix.package }}
        with:
          file: ./coverage/lcov.info
          verbose: true
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
