# Created with package:mono_repo v6.0.0
name: Dart CI
on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  job_001:
    name: mono_repo self validate
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v3
      - name: mono_repo self validate
        run: dart pub global activate mono_repo 6.4.1
      - name: mono_repo self validate
        run: dart pub global run mono_repo generate --validate
  job_002:
    name: "analyzer_and_format; PKGS: chopper_built_value, chopper_generator; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper_built_value-chopper_generator;commands:format-analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper_built_value-chopper_generator
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v3
      - id: chopper_built_value_pub_upgrade
        name: chopper_built_value; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper_built_value
        run: dart pub upgrade
      - name: "chopper_built_value; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.chopper_built_value_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_built_value
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "chopper_built_value; dart analyze --fatal-infos ."
        if: "always() && steps.chopper_built_value_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_built_value
        run: dart analyze --fatal-infos .
      - id: chopper_generator_pub_upgrade
        name: chopper_generator; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper_generator
        run: dart pub upgrade
      - name: "chopper_generator; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.chopper_generator_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_generator
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "chopper_generator; dart analyze --fatal-infos ."
        if: "always() && steps.chopper_generator_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_generator
        run: dart analyze --fatal-infos .
  job_003:
    name: "analyze_and_format; PKG: chopper; `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper;commands:format-analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v3
      - id: chopper_pub_upgrade
        name: chopper; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper
        run: dart pub upgrade
      - name: "chopper; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.chopper_pub_upgrade.conclusion == 'success'"
        working-directory: chopper
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "chopper; dart analyze --fatal-infos ."
        if: "always() && steps.chopper_pub_upgrade.conclusion == 'success'"
        working-directory: chopper
        run: dart analyze --fatal-infos .
    needs:
      - job_001
      - job_002
  job_004:
    name: "unit_test; PKGS: chopper, chopper_built_value; `dart test -p chrome`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper-chopper_built_value;commands:test_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper-chopper_built_value
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v3
      - id: chopper_pub_upgrade
        name: chopper; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper
        run: dart pub upgrade
      - name: "chopper; dart test -p chrome"
        if: "always() && steps.chopper_pub_upgrade.conclusion == 'success'"
        working-directory: chopper
        run: dart test -p chrome
      - id: chopper_built_value_pub_upgrade
        name: chopper_built_value; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper_built_value
        run: dart pub upgrade
      - name: "chopper_built_value; dart test -p chrome"
        if: "always() && steps.chopper_built_value_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_built_value
        run: dart test -p chrome
    needs:
      - job_001
      - job_002
      - job_003
  job_005:
    name: "unit_test; PKGS: chopper, chopper_built_value; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v3
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper-chopper_built_value;commands:test_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:stable;packages:chopper-chopper_built_value
            os:ubuntu-latest;pub-cache-hosted;sdk:stable
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v3
      - id: chopper_pub_upgrade
        name: chopper; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper
        run: dart pub upgrade
      - name: chopper; dart test
        if: "always() && steps.chopper_pub_upgrade.conclusion == 'success'"
        working-directory: chopper
        run: dart test
      - id: chopper_built_value_pub_upgrade
        name: chopper_built_value; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: chopper_built_value
        run: dart pub upgrade
      - name: chopper_built_value; dart test
        if: "always() && steps.chopper_built_value_pub_upgrade.conclusion == 'success'"
        working-directory: chopper_built_value
        run: dart test
    needs:
      - job_001
      - job_002
      - job_003
  job_006:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable
      - id: checkout
        uses: actions/checkout@v3
      - id: upload_coverage
        name: chopper; tool/coverage.sh
        if: "always() && steps.checkout.conclusion == 'success'"
        run: bash tool/coverage.sh
        env:
          CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}"
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
